body {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: gray;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 100px;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-size: 1.4rem;
  border: 10px outset red;
  height: fit-content;
}

p {
  margin: 0;
}

.mainContainer {
  display: flex;
  justify-content: center; 
  text-align: center;
  justify-content: center;
  flex-direction: column;
  background-color: gray;
  margin: 0;
  font-size: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  z-index: 1;
}

.topNavbarHeader {
  display: flex;
  align-items: center;
  width: 100vw;
  background-color: rgb(255, 230, 230);
  padding: 0.5rem;
  margin: 0;
  position: fixed;
  top: 0;
  /* z-index: 2; */
}